<div class="collection">
  <a href="<%= admin_dashboard_path %>" class="collection-item <%= request.path == admin_dashboard_path ? 'active' : '' %>">Dashboard</a>
  <a href="<%= categories_path %>" class="collection-item <%= request.path == categories_path ? 'active' : '' %>">Categories</a>
</div>
            