<div id="banner-container">
  <div class="row"> 
    <div class="col s5 offset-s1 banner valign-wrapper" id="western-banner">
      <div class="valign button-container">
        <h3>WESTERN</h3>
        <a class="waves-effect waves-light btn" href="/western">Rent</a>
      </div>   
    </div>
    <div class="col s5 banner valign-wrapper" id="ethnic-banner">
      <div class="valign button-container">
        <h3>ETHNIC</h3>
        <a class="waves-effect waves-light btn" href="/ethnic">Rent</a>
      </div>   
    </div>
  </div>
</div>