#product-info{
	font-size: 125%;
}

span#sizes{
	color: green;
}

span#deatils{
	font-size: 90%;
	opacity: 0.85;
}

img.product-image{
	width: 100%;
}

.slick-prev, .slick-next{
	background: lightgray !important;
	border-radius: 50%;
}

div.edit-image-wrapper{
	display: inline-block;
	padding: 5px;
	margin-right: 3%;
}

div.collapsible-body{
	padding-left: 10px;
	padding-top: 10px;
}

div#product-index-wrapper{
	padding: 10px;
}

div.product-wrapper{
	display: inline-block;
	width: 23%;
	margin-right: 2%;
	margin-bottom: 4%;
}

.index-image{
	width: 100%;
}

label.filter-label{
	margin-bottom: 5px;
}

div#slider-expandible{
	padding-right: 15px;
}

label[for="range_min"], label[for="range_max"]{
	left: 0.75rem !important;
}